@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>

<style>
    .radio_buttons tr:nth-child(odd) td {
        background-color: #EEEEEE;
    }

    .radio_buttons tr:nth-child(even) td {
        background-color: #DDDDDD;
    }

    tr td:first-child {
        text-align: right;
        vertical-align: top;
    }

    td {
        padding: 5px;
    }
</style>
<br />
<br />
@Html.ValidationSummary()
<form method="post" action="">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td><Label for="userName"> Username: </Label></td>
                        <td><input type="text" name="userName" /></td>
                        @Html.ValidationMessage("UsersLogin", "userName")
                    </tr>
                    <tr>
                        <td><label for="password"> Password: </label> </td>
                        <td><input type="text" name="password" /></td>
                        @Html.ValidationMessage("UsersLogin", "password")
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Connection" />
                        </td>
                        
                        <td id="Button_3"
                            style="border: 1px solid black; padding: 5px; background-color: black"
                            onmouseout="ButtonAnimation_down('Button_3')">
                            @Html.ActionLink("Login", "Login", "Home")
                        </td>
                        <td id="Button_4"
                            style="border: 1px solid black; padding: 5px; background-color: black"
                            onmouseout="ButtonAnimation_down('Button_4')">
                            @Html.ActionLink("Mot de passe oublié", "Mot de passe oublié", "Users")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
